<div align="center">
	<p>Total de Preguntas:&nbsp;<%= estadisticas.quizTotal %></p>
	<p>Total de Comentarios:&nbsp;<%= estadisticas.commentTotal %></p>
	<p>Promedio de Comentarios por Pregunta:&nbsp;<%= estadisticas.promedioComentarios %></p>
	<p>Total de Preguntas Sin Comentarios:&nbsp;<%= estadisticas.quizNoComentarios %></p>
	<p>Total de Preguntas Con Comentarios:&nbsp;<%= estadisticas.quizConComentarios %></p>
</div>